.striped-table {  
    border-collapse: collapse;  
    width: 100%;  
  }  
    
  .striped-table th,  
  .striped-table td {  
    border: 1px solid #ddd;  
    padding: 8px;  
  }  
    
  .striped-table th {  
    background-color: #f2f2f2;  
  }  
    
  .striped-table tbody tr:nth-child(even) {  
    background-color: #f9f9f9;  
  }  
  

.striped-table tbody tr.hovered {  
  background-color: #ddd;  
}  
