
/******************************************************************
Header stylesheet
/*****************************************************************/

.header {  
    background-color: #8bc5bb;  
    padding: 10px;          
  }  
    
  .menu {  
    list-style-type:none;  
    margin: 0;  
    padding: 0;  
    display: ruby;  
  }  
    
  .menu li {  
    margin-right: 30px;  
  }  
    
  .menu li a {  
    text-decoration:wavy;  
    color: #3b0817;  
    padding: 5px;  
    border-radius: 50px;  
    transition: background-color 0.6s;  
  }  
    
  .menu li a:hover {  
    background-color: #afa9a9;  
    
  }  
  